# Logs
logs
*.log

# dotenv environment variables file
.env

# OS metadata
.DS_Store
Thumbs.db

# IDE files
.idea
.vscode
*.code-workspace

# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
htmlcov/
.coverage
